<html>
  <body>
    <h1>Simple Example</h1>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/profile'>View Profile</a><% if !env['warden'].authenticated? %>(implicit sign in)<% end %></li>
      <% if authenticated? %>
        <li><a href='/logout'>Sign out</a></li>
      <% else %>
        <li><a href='/login'>Sign in</a> (explicit sign in)</li>
      <% end %>
    </ul>
    <hr />

    <% if authenticated? && !@toggle%>
      <h2>
        <!-- <img src='<%= env['warden'].user.avatar_url %>' /> -->
        <img src='<%= github_user.avatar_url %>' />
        Welcome <%= github_user.name %>
    </h2>
    <% elsif !authenticated? %>
      <h2>Welcome stranger</h2>
    <% end %>

    <% if @toggle && authenticated? %>
      <h2>Profile</h2>
      <dl>
        <dt>Rails Org Member:</dt>
        <dd><%= github_organization_access?('rails') %></dd>
        <dt>Publicized Rails Org Members:</dt>
        <dd><%= github_public_organization_access?('rails') %></dd>
        <dt>Rails committer Team members:</dt>
        <dd><%= github_team_access?(632) %></dd>
        <dt>List of Issues in repo</dt>
        <% @result.each do |repo| %>
          <dd><%= repo['title'] %></dd>
        <% end %>
      </dl>
    <% else %>
      <p></p>
    <% end%>

  </body>
</html>


