<h2>Pull request</h2>
<form action='pullrequest' method='POST' class="form-inline well">
  Please select repo:
  <select name="repo">
    <% list_repos.each do |repo| %>
      <option value="<%= repo %>"><%= repo%></option>
    <% end %>
  </select>
  <input type="submit" class="btn primary">
</form>

<% if !pullrequest_list.nil?%>
<dl>
  <dt>List of pull request in repository : <%= repo_name %></dt>
  <% pullrequest_list.each do |pullrequest| %>
    <dd><a href="<%=pullrequest['html_url']%>"><%= pullrequest['title'] %></a></dd>
  <% end %>
</dl>
<% end %>
